<div class="post-frame" *ngFor="let data of dataresult">
  <div class="post-top">
    <div class="post-top-left">
      <img src="./assets/img/profile.jpg" alt="" class="acc-prof" *ngIf="data.poster.gender == '1'">
      <img src="./assets/img/profile-fe.jpg" alt="" class="acc-prof" *ngIf="data.poster.gender == '0'">
      <div class="acc-name-wrap">
        <h5 class="acc-name">{{data.poster.fname}} {{data.poster.lname}}</h5>
        <p>{{data.created_at}}
          <i class="material-icons" *ngIf="data.privacy == 0">public</i>
          <i class="material-icons" *ngIf="data.privacy == 1">people</i>
          <i class="material-icons" *ngIf="data.privacy == 2">lock</i>
        </p>
      </div>
      <!-- <p> is with <span class="fb-blue-text"> Jiro Zargoza</span></p> -->
    </div>
    <app-post-options (clickDelete)="deletePost()" (clickedit)="openEdit()" *ngIf="currentUserId == data.poster.id"></app-post-options>
  </div>
  <span *ngIf="updateShow == false ">
    <div class="post-content" [ngClass]="data.background!=null ? 'active background'+data.background:''">
    <p>{{data.description}}</p>
    </div>
    <div class="file-container">
      <!-- <img src="./assets/img/p1.jpg" alt=""> -->
    </div>
    <div class="horiz-divider"></div>
  </span>
  <span *ngIf="updateShow == true ">
    <div class="editing-box">
      <textarea id="postupdatedInput" autofocus [(ngModel)]="postUpdateText"></textarea>
      <div class="editing-btn">
        <div class="btnwrap cancelBtn">
          <button (click)="closeEdit()">Cancel</button>
        </div>
        <div class="btnwrap doneBtn">
          <button [disabled]="postUpdateText.length==0" (click)="updatePost()" >Done Editing</button>
        </div>
      </div>
    </div>
  </span>
  <app-post-reactions [postid]="data.id"></app-post-reactions>
  <app-comments-container [postid]="data.id" ></app-comments-container>
</div>
<app-newsfeed-loadingbox *ngIf="loading"></app-newsfeed-loadingbox>