.fb-blue-text
{
  color: #4267B2;
}
.hor-div-container
{
  background: #F2F3F5;
}
.horiz-divider
{
  width: 95%;
  margin:0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.post-frame
{
  padding-top: 10px;
  background: #fff;
  margin-bottom: 13px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.acc-prof
{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
}
.post-top i
{
  color: rgba(0, 0, 0, 0.6);
}
.post-top
{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.acc-name-wrap p
{
  font-size: 12px!important;
  color: rgba(0, 0, 0, 0.6);
}
.acc-name-wrap i
{
  font-size: 13px;
  margin-left: 5px;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.4);
}
.acc-name
{
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 7px;
  color: #3C5BA6;
  margin-right: 4px;
}
.post-top-left
{
  display: flex;
}
.post-top-left p
{
  font-size: 14px;
}
.post-content
{
  padding:10px;
}
.post-content p
{
  font-size: 15px;
  line-height: 21px;
  word-wrap:break-word;
  width: 100%;
  color:#333;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}
.file-container
{
  padding:0px 10px;
}
.file-container img
{
  width: 100%;
  border-radius: 1px;
}
.post-content.active.background0
{
  background-color: #BD39EF!important;
}
.post-content.active.background1
{
  background-color: #E2013B!important;
}
.post-content.active.background2
{
  background-color: #111111!important;
}
.post-content.active p
{
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #fff;
  margin:auto;
  max-width: 488px;
}
.post-content.active
{
  display: flex;
  min-height: 300px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.post-content.active.background3
{
  background: linear-gradient(209deg, #C82E61 35%, #3630FB 100%);
}
.post-content.active.background4
{
 background: linear-gradient(209deg, #8130C8 35%, #E94BFB 100%);
}
.post-content.active.background5
{
 background:linear-gradient(209deg, #C13546 0, #F4526A 50%);
}
.post-content.active.background6
{
  background: linear-gradient(255deg, #C23292 0, #F4526A 62%, #FBB73D 100%);
}
.post-content.active.background7
{
  background-color: #431E31!important;
}
.post-content.active.background8
{
  background-color: #3A3E4A;
}
.post-content.active.background9
{
  background-color: #3A1E51;
}
.post-content.active.background10
{
  background: linear-gradient(182deg, #FAFAFA 0, #F91D75 61%);
}
.post-content.active.background11
{
  background-color: #233860;
}
.post-content.active.background12
{
  background: linear-gradient(182deg, #FA26FA 0, #6C25F9 61%, #7DFFE5 100%);
}
.post-content.active.background13
{
  background: linear-gradient(182deg, #CD3E70 0, #DE2C48 56%);
}