<div class="other-post-container">
  <div class="stories-box">
    <div class="stories-top">
      <h3>Stories</h3>
      <div class="">
        <i class="material-icons">more_horiz</i>
      </div>
    </div>
    <div class="stories-content">
      <div class="story-row">
        <img src="./assets/img/1.jpg" alt="">
        <div class="story-row-data">
          <p>Ralp Dexter Bongato</p>
          <h6>4 hours ago</h6>
        </div>
      </div>
      <div class="story-row">
        <img src="./assets/img/1.jpg" alt="">
        <div class="story-row-data">
          <p>Ralp Dexter Bongato</p>
          <h6>4 hours ago</h6>
        </div>
      </div>
      <div class="story-row">
        <img src="./assets/img/1.jpg" alt="">
        <div class="story-row-data">
          <p>Ralp Dexter Bongato</p>
          <h6>4 hours ago</h6>
        </div>
      </div>
      <div class="showmore-story">
        <i class="fa fa-caret-down"></i><p>See More</p>
      </div>
    </div>
  </div>
  <div class="birthday-box">
    <i class="fa fa-gift"></i>
    <p><span class="color-fb bold">Guila Mae Bagolor</span> and <span class="color-fb">13 others</span></p>
  </div>
  <div class="suggested-groups">
    <div class="suggested-top">
      <p class="bold">Suggested Groups</p>
      <h6 class="color-fb">See all</h6>
    </div>
    <div class="group-row">
      <div class="group-prof">
      </div>
      <div class="group-data">
        <div class="gd-left">
          <p>Java PH</p>
          <h6>702 members</h6>
        </div>
        <div class="gd-right">
          <button type="button" name="button"><i class="fa fa-plus"></i>Join</button>
        </div>
      </div>
    </div>
    <div class="group-row">
      <div class="group-prof">
      </div>
      <div class="group-data">
        <div class="gd-left">
          <p>Angular Ph</p>
          <h6>509 members</h6>
        </div>
        <div class="gd-right">
          <button type="button" name="button"><i class="fa fa-plus"></i>Join</button>
        </div>
      </div>
    </div>
    <div class="group-row">
      <div class="group-prof">
      </div>
      <div class="group-data">
        <div class="gd-left">
          <p>Python Nigeria</p>
          <h6>702 members</h6>
        </div>
        <div class="gd-right">
          <button type="button" name="button"><i class="fa fa-plus"></i>Join</button>
        </div>
      </div>
    </div>
  </div>
</div>
