<div class="footer-container">
  <div class="language-box">
    <div class="language-text">
      <li class="active">English (US)</li>
      <li>Filipino</li>
      <li>Bisaya</li>
      <li>Espanol</li>
      <li>Portugues (Brasil)</li>
    </div>
    <div class="add-btn-container">
      <button type="button" name="button"><i class="fa fa-plus"></i></button>
    </div>
  </div>
  <div class="other-footer">
    <ul>
      <li>Privacy</li>
      <li>Terms</li>
      <li>Advertising</li>
      <li>Ad Choices <i class="fa fa-caret-right"></i></li>
      <li>Cookies</li>
      <li>More <i class="fa fa-caret-down"></i></li>
    </ul>
    <h2>Facebook &copy; 2018</h2>
  </div>
</div>
