<div class="recent-logs-container">
  <h3>Recent Logins</h3>
  <p>Click your picture or add an account.</p>
  <div class="accounts-container">
    <div class="account-box">
      <div class="box-top">
        <i class="material-icons close-btn">close</i>
        <i class="material-icons white-close-btn">close</i>
        <img src="./assets/img/1.jpg" alt="">
      </div>
      <div class="box-bottom">
        <h4>Ralp Dexter</h4>
      </div>
    </div>
    <div class="account-box">
      <div class="box-top">
        <i class="material-icons add-btn">add_circle</i>
      </div>
      <div class="box-bottom">
        <p>Add Account</p>
      </div>
    </div>
  </div>
</div>
