<div class="replies-container active">
	<div class="pagination-container" *ngIf="pagination.next_page_url != null" (click)="getReplies(pagination.current_page+1)"><h2></h2> View previous replies</div>
	<app-comment-reply-row (clickreply)="focusInput()" [replyid]="reply.id" *ngFor="let reply of replyIds"></app-comment-reply-row>
	<div class="comment-postbox">
		<div class="img-container">
			<img src="./assets/img/1.jpg" alt="">
		</div>
		<div class="input-container">
			<div class="inputwrap">
				<textarea id="replyinput" placeholder="Write a reply..." autofocus [(ngModel)]="commentContent" (keyup.enter)="postReply()"></textarea>
			</div>
		</div>
	</div>


</div>
