<div class="timeline-container">
  <div class="timeline-left">
    <div class="review-box">
      <div class="review-box-top">
        <div class="box-top-left">
          <i class="material-icons">edit</i>
        </div>
        <div class="box-top-mid">
          When did you attend Clarin National School of Fisheries?
        </div>
        <div class="box-top-bottom">
          <i class="material-icons">close</i>
        </div>
      </div>
      <div class="review-box-bottom">
        <i class="material-icons">more_horiz</i>
        <p>43 items for you to review</p>
      </div>
    </div>
    <div class="intro-box">
      <div class="intro-box-top">
        <i class="fa fa-globe"></i> <h1>Intro</h1>
      </div>
      <div class="intro-par">
        <p>Lorem ipsum dolor sit amet, consecteto consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="horizontal-div">
      </div>
      <div class="profile-personal-data">
        <div class="person-data-row">
          <i class="material-icons">school</i><p>Studied Bachelor of Science in Information Technology at <span class="blue-text">Mater Dei College</span></p>
        </div>
        <div class="person-data-row">
          <i class="material-icons">home</i><p>Lives in <span class="blue-text">Clarin, Bohol, Philippines</span></p>
        </div>
        <div class="person-data-row">
          <i class="material-icons">location_on</i><p>From <span class="blue-text">Clarin, Bohol, Philippines</span></p>
        </div>
        <div class="person-data-row">
          <i class="material-icons">web</i><p>Followed by <span class="blue-text">1,000 people</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-right">
    
  </div>
</div>
