<div class="blackbackground" (click)="setInActive()" [ngClass]="{'show':textareaIsActive==true}">
</div>
<div class="post-relative-container" [ngClass]="{'active':textareaIsActive==true}" *ngIf="currentuserID == profileId">
  <div class="posting-form-container" (click)="setActive()" [ngClass]="{'active':textareaIsActive==true}"><!--  add active here -->
    <div class="posting-top">
      <h4>
        <i class="material-icons">edit</i>
        <p>Make Post</p>
      </h4>
      <div class="vertical-div">
      </div> 
      <h4>
        <i class="material-icons">image</i>
        <p class="fb-blue-text">Photo/Video Album</p>
      </h4>
      <div class="vertical-div">
      </div>
      <h4>
        <i class="material-icons">camera_roll</i>
        <p class="fb-blue-text">Live Video</p>
      </h4>
    </div>
    <div [ngClass]="postBackground!=null? classToAdd :'' ">
      <div class="posting-mid" (click)="focusTheArea()" [ngClass]="postBackground!=null? 'active':'' ">
      <img src="./assets/img/profile.jpg" alt="" *ngIf="usergender == '1'">
      <img src="./assets/img/profile-fe.jpg" alt="" *ngIf="usergender == '0'">
      <textarea id="postArea" [ngClass]="{'active':HugeParag}" (keyup)="checkLetterAmt()" name="name" [(ngModel)]="postext" placeholder="What's on your mind, Ralp Dexter?"></textarea>
    </div>
    <div class="post-backgrounds">
      <li class="background-grey" (click)="KnowClassToAdd(null)"></li>
      <li class="background-light" (click)="KnowClassToAdd(null)"></li>
      <li class="background-purple" (click)="KnowClassToAdd(0)"></li>
      <li class="background-rose" (click)="KnowClassToAdd(1)"></li>
      <li class="background-black" (click)="KnowClassToAdd(2)"></li>
      <li class="background-blue-rose" (click)="KnowClassToAdd(3)"></li>
      <li class="background-purple-blue" (click)="KnowClassToAdd(4)"></li>
      <li class="background-rose-light" (click)="KnowClassToAdd(5)"></li>
      <li class="background-sunset" (click)="KnowClassToAdd(6)"></li>
      <li class="background-dark-purple" (click)="KnowClassToAdd(7)"></li>
      <li class="background-dark-grey" (click)="KnowClassToAdd(8)"></li>
      <li class="background-purple-star" (click)="KnowClassToAdd(9)"></li>
      <li class="background-sakura" (click)="KnowClassToAdd(10)"></li>
      <li class="background-night-blue" (click)="KnowClassToAdd(11)"></li>
      <li class="background-purplecom" (click)="KnowClassToAdd(12)"></li>
      <li class="background-lips" (click)="KnowClassToAdd(13)"></li>
    </div>
    </div>
    <div class="horiz-divider">
    </div>
    <div class="posting-bot">
      <div class="posting-btn-wrap">
        <button type="button" name="button">
          <i class="fa fa-image green-text"></i><p>Photo/Video</p>
        </button>
        <button type="button" name="button">
          <i class="fa fa-smile yellow-text"></i><p>Feeling/Activity</p>
        </button>
          <button type="button" name="button" [ngClass]="{'hide':textareaIsActive==true}" ><!--  add hide here -->
          <i class="material-icons" style="font-size:20px">more_horiz</i>
        </button>
      </div>
      <div class="posting-btn-wrap hide" [ngClass]="{'flex':textareaIsActive==true}"><!--change hide to show here -->
        <button type="button" name="button">
          <i class="fa fa-map-marker pink-text"></i><p>Check In</p>
        </button>
        <button type="button" name="button">
          <i class="fa fa-users blue-text"></i><p>Tag Friends</p>
        </button>
      </div>
      <div class="posting-btn-wrap hide" [ngClass]="{'flex':textareaIsActive==true}"><!--change hide to show here -->
        <button type="button" name="button">
          <i class="fa fa-image purple-text"></i><p>GIF</p>
        </button>
        <button type="button" name="button">
          <i class="fa fa-calendar pink-text"></i><p>Tag Event</p>
        </button>
      </div>
    </div>
    <div class="posting-submit flex">
      <div class="privacy-opt">
        <i class="material-icons" [ngClass]="postext==''?'disabled':''">people</i>
        <select [(ngModel)]="postPrivacy"  [disabled]="postext==''?true:false">
          <option value="0"> Public</option>
          <option value="1"> Friends</option>
          <option value="2"> Private</option>
        </select>
      </div>
      <button type="button"  (click)="post()" name="button" [disabled]="postext==''?true:false">Post</button>
    </div>
  </div>
</div>
<app-postbox [postID]="newpost" *ngFor="let newpost of inewlyposted"></app-postbox>
<app-newsfeedbox [friendID]="poster.id" *ngFor="let poster of newestposters"></app-newsfeedbox>
<app-newsfeed-loadingbox *ngIf="newestposters.length == 0"></app-newsfeed-loadingbox>
