<header>
  <div class="login-header">
    <div class="header-left">
      <p>facebook</p>
    </div>
    <div class="header-right">
      <div class="login-form">
        <div class="input-wrapper">
          <div class="email-box">
            <label>Email or Phone</label>
            <input type="email" name="" value="">
          </div>
          <div class="pass-box">
            <label>Password</label>
            <input type="password" name="" value="">
            <a class="forgot" href="#">Forgot account?</a>
          </div>
          <div class="">
            <button type="button" (click)="SubmitCredentials()" name="button">Log In</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="content-container">
<div class="login-content-container">
  <div class="login-page-left">
    <app-latest-logs></app-latest-logs>
  </div>
  <div class="login-page-right">
    <app-register></app-register>
  </div>
</div>
</section>
