<header [ngClass]="{active:signin}">
  <div class="loggedInHeader" *ngIf="signin">
    <div class="header-content-container">
      <div class="header-content-right">
        <i class="fab fa-facebook logo"></i>
        <div class="search-person-container">
          <input type="text" name="" value="" placeholder="Search">
          <button type="button" name="button" ><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="header-content-left">
        <div class="nav-wrapper">
          <div class="profile-wrapper">
            <img src="/assets/img/2.jpg" alt="">
            <div class="prof-nav">
              Ralp Dexter
            </div>
          </div>
          <div class="home-nav">
            Home
          </div>
        </div>
        <div class="icons-wrapper">
          <i class="material-icons">people</i>
          <i class="fab fa-facebook-messenger"></i>
          <i class="material-icons">public</i>
        </div>
        <div class="drop-container">
          <i class="material-icons question-icon">?</i>
          <div class="drop-menu" (click)="toggleMenu()" [ngClass]="{'active':menuIsActive}">
            <i class="material-icons">arrow_drop_down</i>
            <div class="drop-menu-box" [ngClass]="{'active':menuIsActive}">
              <ul>
                <li>Create page</li>
                <li>Manage page</li>
                <div class="divider">
                </div>
                <li>Create group</li>
                <li>Manage group</li>
                <div class="divider">
                </div>
                <li>Create adds</li>
                <li>Advertising on facebook</li>
                <div class="divider">
                </div>
                <li>Activity logs</li>
                <li>News feed preferences</li>
                <li>Settings</li>
                <li (click)="logout()">Logout</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
  <router-outlet></router-outlet>
  <div class="online-list" *ngIf="signin">
      <h3>YOUR PAGES</h3>
      <ul>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Random Pers</p>
          </div>
          <div class="">
            <div class="pages-notif">
              2
            </div>
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Random Pers</p>
          </div>
          <div class="">
            <div class="pages-notif">
              9+
            </div>
          </div>
        </li>
      </ul>
      <h3>CONTACTS</h3>
      <ul>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Ralp Dexter Bongato</p>
          </div>
          <div class="dot">
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Abdou Mjr</p>
          </div>
          <div class="dot">
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Cham Mancha</p>
          </div>
          <div class="dot">
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Danica Melicor</p>
          </div>
          <div class="dot">
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Ivan</p>
          </div>
          <div class="dot">
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Bibi Bibi</p>
          </div>
          <div class="dot">
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Random Pers</p>
          </div>
          <div class="dot">
          </div>
        </li>
      </ul>
      <h3>GROUP CONVERSATIONS</h3>
      <ul>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Ralp Dexter Bongato</p>
          </div>
          <div class="dot">
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Danica Melicor</p>
          </div>
          <div class="dot">
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Ivan</p>
          </div>
          <div class="dot">
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Bibi Bibi</p>
          </div>
          <div class="dot">
          </div>
        </li>
        <li>
          <div class="left-online-list">
            <img src="/assets/img/1.jpg" alt="">
            <p>Random Pers</p>
          </div>
          <div class="dot">
          </div>
        </li>
      </ul>
    <div class="search-online-container">
      <i class="fas fa-search"></i>
      <input type="text" name="" placeholder="Search" value="">
      <div class="icons-search-cont">
      </div>
    </div>
  </div>
  <div class="online-list-trigger" *ngIf="signin">
    <div class="on-list-left">
      <div class="trigdot">
      </div>
      <p>Chat (300)</p>
    </div>
    <div class="on-list-right">

    </div>
  </div>
<footer>

</footer>
