<header [ngClass]="{active:signin}">
  <div class="loggedInHeader" *ngIf="signin">
    <div class="header-content-container" [ngClass]="{'active':isVerified==false}">
      <div class="header-content-left">
        <i class="fab fa-facebook logo"></i>
        <app-global-search-box *ngIf="isVerified" ></app-global-search-box>
      </div>
      <div class="header-content-right">
        <div class="nav-wrapper">
          <div class="profile-wrapper" routerLink="profile/{{userId}}">
            <img src="./assets/img/profile.jpg" alt="" *ngIf="usergender == '1'">
            <img src="./assets/img/profile-fe.jpg" alt="" *ngIf="usergender == '0'">
            <div class="prof-nav">
              {{userFname}}
            </div>
          </div>
          <div class="vertical-divider"></div>
          <div class="home-nav" routerLink="home">
            Home
          </div>
        </div>
        <div class="icons-wrapper" *ngIf="isVerified">
          <app-friend-request-icon></app-friend-request-icon>
          <i class="fab fa-facebook-messenger"></i>
          <i class="material-icons">public</i>
        </div>
        <div class="vertical-divider"></div>
        <div class="drop-container">
          <i class="material-icons question-icon">?</i>
          <div class="drop-menu" (click)="toggleMenu()" [ngClass]="{'active':menuIsActive}">
            <i class="material-icons">arrow_drop_down</i>
            <div class="drop-menu-box" [ngClass]="{'active':menuIsActive}">
              <ul>
                <li>Create page</li>
                <li>Manage page</li>
                <div class="divider">
                </div>
                <li>Create group</li>
                <li>New groups</li>
                <div class="divider">
                </div>
                <li>Create adds</li>
                <li>Advertising on facebook</li>
                <div class="divider">
                </div>
                <li>Activity logs</li>
                <li>News feed preferences</li>
                <li>Settings</li>
                <li (click)="logout()">Logout</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
  <div [ngClass]="signin==true && isVerified==false ? 'outlet-container active':signin==true?'outlet-container':''">
    <router-outlet></router-outlet>
  </div>
<footer>
</footer>
<app-online-list *ngIf="signin && isVerified"></app-online-list>
