
header.active
{
  padding-top: 41px;
}
.loggedInHeader
{
  padding-top: 6px;
  padding-bottom:6px;
  background: #4267B2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:19;
}
.outlet-container
{
  width: 1010px;
  margin-left: 70px;
}
.outlet-container.active
{
  margin-left: auto;
  margin: 0 auto;
}
@media (max-width:1300px) {
  .outlet-container
  {
    margin-left: auto;
    margin: 0 auto;
  }
}
.header-content-container
{
  width: 1010px;
  margin-left: 70px;
  box-sizing: border-box;
  justify-content: space-between;
}
.header-content-container.active
{
  margin-left: auto;
  margin:0 auto;
}
@media (max-width:1300px) {
  .header-content-container
  {
    margin-left: auto;
    margin:0 auto;
  }
}
.header-content-right
{
  display: flex;
}
.header-content-left
{
  display: flex;
  box-sizing: border-box;
}
.logo
{
  border-radius: 2px;
  margin-top: 2px;
  font-size: 27px;
  color: #fff;
}

.header-content-container
{
  display: flex;
}
.nav-wrapper
{
  display: flex;
  font-size: 12px;
  font-weight: 600;
  color: #f3f3f3;
  margin-right: 24px;
}
.nav-wrapper img
{
  border-radius: 50%;
}
.prof-nav
{
  padding:4px 10px 3px 3px;
  display: inline-block;
  vertical-align: middle;
}
.profile-wrapper
{
  padding:2px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}
.profile-wrapper:hover
{
  background: #3B5CA0;
}
.profile-wrapper img
{
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 23px;
}
.home-nav:hover
{
  background: #3B5CA0;
}
.home-nav
{
  border-radius: 3px;
  padding:8px 10px;
  cursor: pointer;
  outline: none;
}
.icons-wrapper
{
  padding-right: 10px;
  margin-top: 2px;
  display: flex;
}
.icons-wrapper i:hover
{
  color: #0F1728;
}
.icons-wrapper i
{
  color:#1A2947;
  cursor: pointer;
  font-size: 23px;
  padding:0px 5px;
}
.drop-container
{
  margin-left: 9px;
  margin-top: 0px;
  display: flex;
}

.drop-container i
{
  cursor: pointer;
  margin:auto 0;
  vertical-align: middle;
  color:#1A2947;
}
.vertical-divider
{
  border-right: 1px solid rgba(0,0,0,0.1);
  height: 60%;
  margin: auto 0;
}
.question-icon
{
  font-size: 16px;
  background: #1A2947;
  color: #4267B2!important;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  margin:3px 5px 0px 5px!important;
}
.drop-menu
{
  margin-left: 5px;
  position: relative;
}
.drop-menu-box ul li:hover
{
  color: #fff;
  background: #4267B2;
}
.drop-menu-box ul li
{
  cursor: pointer;
  padding:5px 5px 5px 35px;
}
.drop-menu-box ul
{
  font-size: 13px;
}
.drop-menu-box:after {
	bottom: 100%;
	right: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #fff;
	border-width: 9px;
	margin-right: 0px;
}
.drop-menu-box.active
{
  display: block;
}
.drop-menu-box
{
  display: none;
  position: absolute;
  width: 245px;
  box-sizing: border-box;
  background: #fff;
  right: -7px;
  top: 36px;
  padding:8px 0px;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.divider
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin:8px 9px;
}
.drop-menu.active > i
{
  color: #fff;
}
