<div class="post-frame">
  <div class="post-top">
    <div class="post-top-left">
      <img src="./assets/img/1.jpg" alt="" class="acc-prof">
      <div class="acc-name-wrap">
        <h5 class="acc-name">Ralp Dexter Bongato</h5>
        <p>49 mins <i class="material-icons">public</i></p>
      </div>
      <p> is with <span class="fb-blue-text"> Jiro Zargoza</span></p>
    </div>
    <i class="material-icons">more_horiz</i>
  </div>
  <div class="post-content">
    <p>Lorem ipsum dolor sit amet,non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="file-container">
    <img src="./assets/img/p1.jpg" alt="">
  </div>
  <div class="interact-button-container">
    <div class="int-btn-wrap">
      <i class="far fa-thumbs-up"></i>
      <p>Like</p>
    </div>
    <div class="int-btn-wrap">
      <i class="far fa-comment-alt"></i>
      <p>Comment</p>
    </div>
  </div>
  <div class="counter-box">
    <i class="fa fa-thumbs-up"></i> <p>300</p>
  </div>
  <div class="hor-div-container">
    <div class="horiz-divider">
    </div>
  </div>
  <div class="comments-container">
    <div class="comment-row">
      <div class="main-comment-box">
        <img src="./assets/img/1.jpg" alt="">
        <div class="comment-circle">
          <p><span class="comment-name">Ralp Dexter Bongato</span> hello world hello hi hello usog na ako eh hahahaha isang beses lang ako nakain sa isang araw diet dowt oag may time.100kg na ata ako hahahah hey!!.</p>
        </div>
      </div>
      <div class="comment-actions">
        <p>Like</p><p>Reply</p><h6>50m</h6>
      </div>
    </div>
    <div class="comment-row">
      <div class="main-comment-box">
        <img src="./assets/img/1.jpg" alt="">
        <div class="comment-circle">
          <p><span class="comment-name">Ralp Dexter Bongato</span> hello world hello hi hello usog na ako eh hahahaha isang beses lang ako nakain sa isang araw diet dowt oag may time.100kg na ata ako hahahah hey!!.</p>
        </div>
      </div>
      <div class="comment-actions">
        <p>Like</p><p>Reply</p><h6>50m</h6>
      </div>
    </div>
    <div class="comment-form-container">
      <img src="./assets/img/1.jpg" alt="">
      <div class="text-container-comment">
        <textarea placeholder="Write a comment... "></textarea>
      </div>
    </div>
  </div>
</div>
<div class="post-frame">
  <div class="post-top">
    <div class="post-top-left">
      <img src="./assets/img/profile.jpg" alt="" class="acc-prof">
      <div class="acc-name-wrap">
        <h5 class="acc-name">Ralp Dexter Bongato</h5>
        <p>49 mins <i class="material-icons">public</i></p>
      </div>
      <p> is with <span class="fb-blue-text"> Jiro Zargoza</span></p>
    </div>
    <i class="material-icons">more_horiz</i>
  </div>
  <div class="post-content">
    <p>Lorem ipsum dolor sit amet,non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="file-container">
    <img src="./assets/img/p1.jpg" alt="">
  </div>
  <div class="interact-button-container">
    <div class="int-btn-wrap">
      <i class="far fa-thumbs-up"></i>
      <p>Like</p>
    </div>
    <div class="int-btn-wrap">
      <i class="far fa-comment-alt"></i>
      <p>Comment</p>
    </div>
  </div>
  <div class="counter-box">
    <i class="fa fa-thumbs-up"></i> <p>300</p>
  </div>
  <div class="hor-div-container">
    <div class="horiz-divider">
    </div>
  </div>
  <div class="comments-container">
    <div class="comment-row">
      <div class="main-comment-box">
        <img src="./assets/img/1.jpg" alt="">
        <div class="comment-circle">
          <p><span class="comment-name">Ralp Dexter Bongato</span> hello world hello hi hello usog na ako eh hahahaha isang beses lang ako nakain sa isang araw diet dowt oag may time.100kg na ata ako hahahah hey!!.</p>
        </div>
      </div>
      <div class="comment-actions">
        <p>Like</p><p>Reply</p><h6>50m</h6>
      </div>
    </div>
    <div class="comment-row">
      <div class="main-comment-box">
        <img src="./assets/img/1.jpg" alt="">
        <div class="comment-circle">
          <p><span class="comment-name">Ralp Dexter Bongato</span> hello world hello hi hello usog na ako eh hahahaha isang beses lang ako nakain sa isang araw diet dowt oag may time.100kg na ata ako hahahah hey!!.</p>
        </div>
      </div>
      <div class="comment-actions">
        <p>Like</p><p>Reply</p><h6>50m</h6>
      </div>
    </div>
    <div class="comment-form-container">
      <img src="./assets/img/1.jpg" alt="">
      <div class="text-container-comment">
        <textarea placeholder="Write a comment... "></textarea>
      </div>
    </div>
  </div>
</div>
