<div class="confirm-sign-container">
  <div class="sign-box">
    <h1>Confirm Your Email</h1>
    <div class="text-confirm-container">
      <p>To continue using Facebook, you'll need to confirm your email. Since you signed up with <span class="bold">youremail@gmail.com</span> you can do that automatically using Gmail.</p>
      <div class="your-email"><h5 class="bold">Your Email</h5><h6 class="bold">youremail@gmail.com</h6></div>
    </div>
    <div class="box-bottom">
      <div class="box-bottom-left">
        <p>Need Help?</p>
      </div>
      <div class="box-bottom-right">
        <button type="button" class="darker-color bold" name="button">Update Contact Info</button>
        <button type="button" class="white-color bold fb-blue-background" name="button">Connect to Gmail</button>
      </div>
    </div>
  </div>
</div>
