.comment-loader-container
{
	display: flex;
	margin-bottom: 10px;
}
.circle-container
{
	margin-right: 5px;
}
.circle-container h3
{
	height: 33px;
	width: 33px;
	border-radius: 50%;
}
.comment-content h4
{
	width: 300px;
	height: 10px;
	margin-top: 5px;
	margin-left: 10px;
}
.btns
{
	display: flex;
}
.btns p
{
	height: 7px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 30px;
}
.line
{
	animation: pulse 1s infinite ease-in-out;
  	-webkit-animation: pulse 1s infinite ease-in-out;
}
@keyframes pulse
{
  0%{
    background:rgba(211, 214, 219,0.3);
  }
  50%{
    background:rgba(211, 214, 219,0.6);
  }
  70%{
    background:rgba(211, 214, 219,0.7);
  }
  100%
  {
    background:rgba(211, 214, 219,0.3);
  }

}