<div class="profile-container">
  <div class="profile-top-box">
    <div class="profile-cover" >
      <div class="cover-options">
        <div class="cover-op-left">
        <button *ngIf=" profileid == currentUserID" type="button" name="button">Edit Profile</button>
        <button *ngIf=" profileid != currentUserID && relation =='0'" type="button" (click)="sendRequest()" name="button">
          <i class="fas fa-user-plus"></i> <p>Add Friend</p>
        </button>
        <div class="prof-btns-wrapper" *ngIf=" profileid != currentUserID && relation =='1'">
          <button type="button" name="button">
            <i class="fas fa-user-plus"></i>
             <p>Friend Request Sent</p></button>
        <div class="prof-btns-dropboxa">
          <ul>
            <li>Get Notification</li>
            <div class="horizontal-divider"></div>
            <li>Close Friends</li>
            <li>Acquaintances</li>
            <li>Add to another list...</li>
            <div class="horizontal-divider"></div>
            <li>Suggest Friends...</li>
            <div class="horizontal-divider"></div>
            <li (click)="removeRequest(profileid)">Cancel Request</li>
          </ul>
        </div>
      </div>
      <div class="prof-btns-wrapper" *ngIf="profileid != currentUserID && relation =='2'">
        <button type="button" name="button">
          <i class="fas fa-user-plus"></i>
          <p>Respond to Friend Request</p>
        </button>
        <div class="prof-btns-dropboxb">
          <ul>
            <li (click)="acceptRequest()">Confirm</li>
            <li (click)="removeRequest(profileid)">Delete Request</li>
          </ul>
        </div>
      </div>
      <div *ngIf="profileid != currentUserID && relation =='3'" class="prof-btns-wrapper">
        <button type="button" name="button"><i class="fa fa-check"></i>
          <p>Friends</p>
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="prof-btns-dropboxa">
          <ul>
            <li>Get Notification</li>
            <div class="horizontal-divider"></div>
            <li>Close Friends</li>
            <li>Acquaintances</li>
            <li>Add to another list...</li>
            <div class="horizontal-divider"></div>
            <li>Suggest Friends...</li>
            <div class="horizontal-divider"></div>
            <li (click)="unfriendUser(profileid)">Unfriend</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cover-op-right">
      <button *ngIf=" profileid == currentUserID" type="button" class="activity-log-btn" name="button">View Activity Log
        <p>10+</p>
      </button>
      <button *ngIf=" profileid != currentUserID" type="button" class="message-btn" name="button">
        <i class="fab fa-facebook-messenger"></i>
        Message
      </button>
      <button type="button" class="more-btn-option" name="button">...</button>
    </div>
  </div>
</div>
<div class="profile-navs-container">
  <div class="prof-nav first">
    <img src="./assets/img/profile.jpg" alt="" *ngIf="userdata.gender==1">
    <img src="./assets/img/profile-fe.jpg" alt="" *ngIf="userdata.gender==0">
    <div class="profname">          <h2>{{userdata.fname}} {{userdata.lname}}</h2>
      <h4 class="nickname"></h4>
    </div>
  </div>
  <div class="prof-nav active">
    <h3>Timeline</h3>
  </div>
  <div class="prof-nav">
    <h3>About</h3>
  </div>
  <div class="prof-nav">
    <h3>Friends</h3>
    <p>{{totalfriends}}</p>
  </div>
  <div class="prof-nav">
    <h3>Photos</h3>
  </div>
  <div class="prof-nav">
    <h3>More</h3>
    <i class="fa fa-caret-down"></i>
  </div>
</div>
</div>
<div class="profile-data-container">
  <app-timeline [totalFriends]="totalfriends"></app-timeline>
</div>
</div>
