<div class="profile-container">
  <div class="profile-top-box">
    <div class="profile-cover" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));">
      <div class="cover-options">
        <div class="cover-op-left">
          <button type="button" name="button">Edit Profile</button>
        </div>
        <div class="cover-op-right">
          <button type="button" class="activity-log-btn" name="button">View Activity Log <p>10+</p></button>
          <button type="button" class="more-btn-option" name="button">...</button>
        </div>
      </div>
    </div>
    <div class="profile-navs-container">
      <div class="prof-nav first">
        <img src="./assets/img/profile.jpg" alt="">
        <div class="profname">
          <h2>Ralp Dexter C Bongato</h2>
          <h4 class="nickname">(RD)</h4>
        </div>
      </div>
      <div class="prof-nav active">
        <h3>Timeline</h3>
      </div>
      <div class="prof-nav">
        <h3>About</h3>
      </div>
      <div class="prof-nav">
        <h3>Friends</h3>
        <p>3,190</p>
      </div>
      <div class="prof-nav">
        <h3>Photos</h3>
      </div>
      <div class="prof-nav">
        <h3>More</h3>
        <i class="fa fa-caret-down"></i>
      </div>
    </div>
  </div>
  <div class="profile-data-container">
    <app-timeline></app-timeline>
  </div>
</div>
