.profile-top-box
{
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  width: 100%;
  height: 360px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.profile-container
{
  max-width:850px;
  min-height: 100vh;
}
.profile-cover
{
  background-color: #1D2129;
  flex:1;
  position: relative;
  background-repeat: no-repeat;
  background-position: contain;
  background-size:auto;
}
.cover-options
{
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.cover-options button
{
  padding:6px 9px;
  color: rgba(0, 0, 0, 0.7);
  background: #f6f7f9;
  font-size: 12px;
  font-weight: bold;
  border-style: none;
  border-radius: 2px;
}
.cover-op-left
{
  margin-right: 10px;
}
.cover-op-left button
{
  border:1px solid rgba(0, 0, 0, 0.5);
}
.cover-op-left button p
{
  display: inline-block;
  vertical-align: middle;
}
.cover-op-left button i
{
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  margin-right: 5px;
  color: #4A4E55;
}
.prof-btns-wrapper:hover .prof-btns-dropboxb
{
  display: block;
}
.prof-btns-wrapper
{
  position: relative;
}
.prof-btns-dropboxb ul:after,
.prof-btns-dropboxb ul:before {
	bottom: 100%;
	left: 15px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.prof-btns-dropboxb ul:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 8px;
	margin-left: 0px;
}
.prof-btns-dropboxb ul:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color:rgba(0, 0, 0, 0.1);
	border-width: 10px;
	margin-left: -2px;
}
.prof-btns-dropboxb
{
  border-radius: 1px;
  position: absolute;
  bottom: -67px;
  left: 0;
  width: 150px;
  padding-top: 20px;
  font-size: 13px;
  display: none;
}
.prof-btns-dropboxb ul
{
  padding:5px 0px;
  border-radius: 1px;
  background: #fff!important;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
  position: relative;
}
.prof-btns-dropboxb ul li:hover
{
  background: #4266B3;
  color: #fff;
}
.prof-btns-dropboxb ul li
{
  padding:5px 5px 5px 20px;
  color: #4A4E55;
  cursor: pointer;
}
.activity-log-btn
{
  display: flex;
  border-right: 1px solid rgba(0, 0, 0, 0.1)!important;
  border-top-right-radius: none!important;
  border-bottom-right-radius: none!important;
}
.activity-log-btn p
{
  background: #FA3E3E;
  color: #fff;
  border-radius: 2px;
  font-size: 10px;
  padding:2px 3px;
  margin-left: 5px;
}
.more-btn-option
{
  border-left: none!important;
  border-top-left-radius: none!important;
  border-bottom-left-radius: none!important;
}
.cover-op-right
{
  display: flex;
}
.cover-op-right
{
  border:1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
.profile-navs-container
{
  background: #fff;
  display: flex;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.prof-nav.active
{
  position: relative;
}
.prof-nav.active h3
{
  color: rgba(0, 0, 0, 0.7);
}
.prof-nav h3
{
  font-weight: 600;
  font-size: 14px;
  color: #3F61A7;
}
.prof-nav p
{
  margin-left:4px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-top: 3px;
}
.prof-nav i
{
  font-size: 16px;
  margin-left: 5px;
  color: #3F61A7;
}
.prof-nav
{
  border-right: 1px solid #e2e2e2;
  padding:14px 19px;
  display: flex;
}
.prof-nav.first
{
  min-width:160px;
  position: relative;
}
.prof-nav.first img
{
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding:4px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}
.profname
{
  position: absolute;
  bottom: 60px;
  right: -255px;
  left: 200px;
  color: #fff;
}
.profname h2
{
  font-size: 23px;
  font-weight: 600;
}
.nickname
{
  font-size: 20px;
  margin-top: 10px;
  font-weight: 400!important;
}
.profile-data-container
{
  margin-top: 13px;
}
.message-btn i,.message-btn p
{
  display: inline-block;
  vertical-align: middle;
}
.message-btn i
{
  font-size: 16px;
  margin-right:5px;
  color: #4A4E55;
}
.prof-btns-dropboxa ul li:hover
{
  background-color: #4267B2;
  color: #fff;
}
.prof-btns-dropboxa ul li
{
  padding:5px 20px;
  font-size: 12px;
  color: #2A2725;
  cursor: pointer;
}
.horizontal-divider
{
  width: 94%;
  margin:5px auto;
  border-bottom:1px solid rgba(0,0,0,0.1);
}
.prof-btns-wrapper:hover .prof-btns-dropboxa
{
  display: block;
}
.prof-btns-dropboxa
{
  display: none;
  position: absolute;
  left: 0;
  bottom: -190px;
  padding-top: 30px;
}
.prof-btns-dropboxa ul
{
  min-width: 190px;
  position: relative;
  padding:7px 0px;
  background-color: #fff;
  border-radius: 1px;
  border:1px solid rgba(0,0,0,0.3);
  /*box-shadow: 0px 0px 3px rgba(0,0,0,0.5);*/
}
.prof-btns-dropboxa ul:after,
.prof-btns-dropboxa ul:before {
  bottom: 100%;
  left: 16px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.prof-btns-dropboxa ul:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 7px;
  margin-left: 0px;
}
.prof-btns-dropboxa ul:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color:rgba(0,0,0,0.1);
  border-width: 9px;
  margin-left: -2px;
}