<div class="profile-container">
  <div class="profile-top-box">
    <div class="profile-cover" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));">
      <div class="cover-options">
        <div class="cover-op-left">
          <button *ngIf="profileid == currentUserID" type="button" name="button">Edit Profile</button>
          <button *ngIf="profileid != currentUserID && relation =='0'" type="button" (click)="sendRequest()" name="button"><i class="fa fa-user"></i> <p>Add Friend</p></button>
          <button *ngIf="profileid != currentUserID && relation =='1'" type="button" name="button"><i class="fa fa-user"></i> <p>Friend Request Sent</p></button>
          <div class="prof-btns-wrapper" *ngIf="profileid != currentUserID && relation =='2'">
            <button type="button" name="button"><i class="fa fa-user"></i> <p>Respond to Friend Request</p></button>
            <div class="prof-btns-dropbox">
              <ul>
                <li (click)="acceptRequest()">Confirm</li>
                <li>Delete Request</li>
              </ul>
            </div>
          </div>
          <button *ngIf="profileid != currentUserID && relation =='3'" type="button" name="button"><i class="fa fa-user"></i> <p>Friends</p></button>
        </div>
        <div class="cover-op-right">
          <button *ngIf="profileid == currentUserID" type="button" class="activity-log-btn" name="button">View Activity Log <p>10+</p></button>
          <button *ngIf="profileid != currentUserID" type="button" class="message-btn" name="button"><i class="fab fa-facebook-messenger"></i>Message</button>
          <button type="button" class="more-btn-option" name="button">...</button>
        </div>
      </div>
    </div>
    <div class="profile-navs-container">
      <div class="prof-nav first">
        <img src="./assets/img/profile.jpg" alt="" *ngIf="userdata.gender==1">
        <img src="./assets/img/profile-fe.jpg" alt="" *ngIf="userdata.gender==0">
        <div class="profname">
          <h2>{{userdata.fname}} {{userdata.lname}}</h2>
          <h4 class="nickname">(RD)</h4>
        </div>
      </div>
      <div class="prof-nav active">
        <h3>Timeline</h3>
      </div>
      <div class="prof-nav">
        <h3>About</h3>
      </div>
      <div class="prof-nav">
        <h3>Friends</h3>
        <p>3,190</p>
      </div>
      <div class="prof-nav">
        <h3>Photos</h3>
      </div>
      <div class="prof-nav">
        <h3>More</h3>
        <i class="fa fa-caret-down"></i>
      </div>
    </div>
  </div>
  <div class="profile-data-container">
    <app-timeline></app-timeline>
  </div>
</div>
