<div class="side-cats">
  <ul>
    <div class="prof-nav">
      <i>
        <img src="./assets/img/2.jpg" alt="">
      </i>
      <p>Ralp Dexter C Bongato</p>
    </div>
    <li class="active">
      <div class="icon-and-name">
        <i class="far fa-newspaper blue-text" data-fa-transform="shrink-8"></i><p>News Feed</p>
      </div>
      <h6>20+</h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fab fa-facebook-messenger blue-text" data-fa-transform="shrink-8"></i><p>Messenger</p>
      </div>
      <h6>19</h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-shopping-cart pink-text" data-fa-transform="shrink-8"></i><p>Market Place</p>
      </div>
      <h6>1</h6>
    </li>
  </ul>
  <ul>
    <h3>Shortcuts</h3>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-users blue-text" data-fa-transform="shrink-8"></i><p>IT Group</p>
      </div>
      <h6>9</h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-users blue-text" data-fa-transform="shrink-8"></i><p>CCICT Group</p>
      </div>
      <h6></h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fab fa-angular red-text" data-fa-transform="shrink-8"></i><p>Angular Js Devs</p>
      </div>
      <h6>3</h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-bicycle grey-text" data-fa-transform="shrink-8"></i><p>Biker's Club</p>
      </div>
      <h6>20+</h6>
    </li>
  </ul>
  <ul>
    <h3>Explore</h3>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-calendar-alt light-text" data-fa-transform="shrink-8"></i><p>Events</p>
      </div>
      <h6></h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-users blue-text" data-fa-transform="shrink-8"></i><p>Groups</p>
      </div>
      <h6></h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-users blue-text" data-fa-transform="shrink-8"></i><p>Friends List</p>
      </div>
      <h6></h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-users blue-text" data-fa-transform="shrink-8"></i><p>Super Group</p>
      </div>
      <h6></h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-history blue-text" data-fa-transform="shrink-8"></i><p>On This Day</p>
      </div>
      <h6></h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-file-powerpoint orange-text" data-fa-transform="shrink-8"></i><p>Page Speed</p>
      </div>
      <h6></h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-image blue-text" data-fa-transform="shrink-8"></i><p>Photos</p>
      </div>
      <h6></h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-gamepad darkblue-text" data-fa-transform="shrink-8"></i><p>Games</p>
      </div>
      <h6></h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-map-marker pink-text" data-fa-transform="shrink-8"></i><p>Suggest Edits</p>
      </div>
      <h6></h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-hand-holding-usd green-text" data-fa-transform="shrink-8"></i><p>Offers</p>
      </div>
      <h6>20+</h6>
    </li>
    <li>
      <div class="icon-and-name">
        <i class="fa fa-caret-down light-text" data-fa-transform="shrink-8"></i>
        <p>See More...</p>
      </div>
    </li>
  </ul>
</div>
