<div class="friend-req-row" [ngClass]="RelationStatus ==1||RelationStatus==0 ?'active':ReqUserData.isSeen==null?'unseen':''">
  <div class="friend-req-left">
    <div class="friend-img">
      <img src="./assets/img/profile-fe.jpg" alt="" *ngIf="ReqUserData.gender == 0">
      <img src="./assets/img/profile.jpg" alt="" *ngIf="ReqUserData.gender == 1">
    </div>
    <div class="friend-req-data">
      <h2 routerLink="/profile/{{ReqUserData.id}}">{{ReqUserData.fname}} {{ReqUserData.lname}}</h2>
      <p *ngIf="RelationStatus==null">0 mutual friend</p>
      <p *ngIf="RelationStatus==0">You are now connected.</p>
      <p *ngIf="RelationStatus==1">Request removed.</p>
    </div>
  </div>
  <div class="friend-req-right">
    <span *ngIf="RelationStatus == null">
      <button class="confirm-req-btn" [disabled]="loading" (click)="accept()">Confirm</button>
      <button class="delete-req-btn" [disabled]="loading" (click)="decline()">Delete Request</button>
    </span>
    <span *ngIf="RelationStatus == 0">
      <button><i class="fa fa-check"></i> Friends</button>
    </span>
  </div>
</div>
