.home-container
{
  box-sizing: border-box;
  min-height: 100vh;
  padding:14px 0px;
  display: flex;
}
.left-categ-container
{
  width: 188px;
  margin-right: 10px;
}
.left-categ-wrap.active
{
  position: fixed;
  bottom: 50px;
}
.left-categ-wrap
{
  width: 188px;
}
.other-wrap
{
  width: 310px;
}
.other-wrap.active
{
  position: fixed;
  bottom: 80px;
}
.other-content
{
  width: 310px;
  box-sizing: border-box;
  margin-right: 20px;
}
.newsfeed-container
{
  width: 483px;
  flex:1;
}
