<div class="reg-container">
  <h2 class="signup-title">Create a New Account</h2>
  <p class="signup-des">It's free and always will be.</p>
  <div class="form-container">
    <div class="input-row">
      <input type="text" name="" class="space-right" placeholder="First name" value="">
      <input type="text" name="" placeholder="Last name"value="">
    </div>
    <div class="input-row">
      <input type="text" (keyup)="checkIfEmail()" [(ngModel)]="contact" name="" placeholder="Mobile number or email" value="">
    </div>
    <div class="input-row" *ngIf="validemail">
      <input type="text" placeholder="Re-enter email" value="">
    </div>
    <div class="input-row">
      <input type="text" name="" placeholder="New Password" value="">
    </div>
    <p class="birthday">Birthday</p>
    <div class="input-row birthday-options">
      <select class="" name="">
        <option value="1">Jan</option>
        <option value="2">Feb</option>
        <option value="3">Mar</option>
        <option value="4">Apr</option>
        <option value="5">May</option>
        <option value="6">Jun</option>
        <option value="7">Jul</option>
        <option value="8">Aug</option>
        <option value="9">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>
      </select>
      <select class="" name="">
        <option value="" *ngFor="let day of days">{{day}}</option>
      </select>
      <select class="" name="">
        <option value="" *ngFor="let year of years.reverse()">{{year}}</option>
      </select>
      <p>Why do i need to provide my <br>birthday?</p>
    </div>
    <div class="input-row input-radio">
      <input type="radio" name="Female" value="">
      <label>Female</label>
      <input type="radio" name="Female" value="">
      <label>Male</label>
    </div>
    <p class="reg-parag">By clicking Sign Up, you agree to our <span class="blue-text">Terms, Data Policy</span> and<br> <span class="blue-text">Cookies Policy</span>. You may receive SMS Notifications from us and<br> can opt out any time.</p>
    <button type="button" [(disabled)]="submitting" (click)="SubmitRegister()" name="button">Sign Up</button>
  </div>
  <div class="create-page-text">
    <p><span class="blue-text">Create a Page</span> for a celebrity, band or business.</p>
  </div>
</div>
