<div class="reg-container">
  <h2 class="signup-title">Create a New Account</h2>
  <p class="signup-des">It's free and always will be.</p>
  <div class="form-container">
    <div class="input-row">
      <input type="text" name="" class="space-right" placeholder="First name" value="">
      <input type="text" name="" placeholder="Last name"value="">
    </div>
    <div class="input-row">
      <input type="text" name="" placeholder="Mobile number or email" value="">
    </div>
    <div class="input-row">
      <input type="text" name="" placeholder="New Password" value="">
    </div>
    <p class="birthday">Birthday</p>
    <div class="input-row birthday-options">
      <select class="" name="">
        <option value="">Apr</option>
      </select>
      <select class="" name="">
        <option value="">29</option>
      </select>
      <select class="" name="">
        <option value="">1990</option>
      </select>
      <p>Why do i need to provide my <br>birthday?</p>
    </div>
    <div class="input-row input-radio">
      <input type="radio" name="Female" value="">
      <label>Female</label>
      <input type="radio" name="Female" value="">
      <label>Male</label>
    </div>
    <p class="reg-parag">By clicking Sign Up, you agree to our <span class="blue-text">Terms, Data Policy</span> and<br> <span class="blue-text">Cookies Policy</span>. You may receive SMS Notifications from us and<br> can opt out any time.</p>
    <button type="button" name="button">Sign Up</button>
  </div>
  <div class="create-page-text">
    <p><span class="blue-text">Create a Page</span> for a celebrity, band or business.</p>
  </div>
</div>
