<div class="reg-container">
  <h2 class="signup-title">Create a New Account</h2>
  <p class="signup-des">It's free and always will be.</p>
  <div  class="form-container" FormsModule="regForm">
    <div class="input-row">
      <input type="text" maxlength="20" required [(ngModel)]="form.fname"  class="space-right" placeholder="First name" value="">
      <input type="text" maxlength="20" required  [(ngModel)]="form.lname"  placeholder="Last name" value="">
    </div>
    <div class="input-row">
      <input type="email" required (keyup)="checkIfEmail()" [(ngModel)]="form.email"  placeholder="Email address" value="">
    </div>
    <div class="input-row" *ngIf="validemail">
      <input type="email" required [(ngModel)]="form.email_confirmation" placeholder="Re-enter email" value="">
    </div>
    <div class="input-row">
      <input type="password" maxlength="50" minlength="8" required [(ngModel)]="form.password" placeholder="New Password" value="">
    </div>
    <p class="birthday">Birthday</p>
    <div class="input-row birthday-options">
      <select [(ngModel)]="form.month">
        <option value="01">Jan</option>
        <option value="02">Feb</option>
        <option value="03">Mar</option>
        <option value="04">Apr</option>
        <option value="05">May</option>
        <option value="06">Jun</option>
        <option value="07">Jul</option>
        <option value="08">Aug</option>
        <option value="09">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>
      </select>
      <select [(ngModel)]="form.day">
        <option value="01" >01</option>
        <option value="02" >02</option>
        <option value="03" >03</option>
        <option value="04" >04</option>
        <option value="05" >05</option>
        <option value="06" >06</option>
        <option value="07" >07</option>
        <option value="08" >08</option>
        <option value="09" >09</option>
        <option value="10" >10</option>
        <option value="11" >11</option>
        <option value="12" >12</option>
        <option value="21" >13</option>
        <option value="14" >14</option>
        <option value="15" >15</option>
        <option value="16" >16</option>
        <option value="17" >17</option>
        <option value="18" >18</option>
        <option value="19" >19</option>
        <option value="20" >20</option>
        <option value="21" >21</option>
        <option value="22" >22</option>
        <option value="23" >23</option>
        <option value="24" >24</option>
        <option value="25" >25</option>
        <option value="26" >26</option>
        <option value="27" >27</option>
        <option value="28" >28</option>
        <option value="29" >29</option>
        <option value="30" >30</option>
        <option value="31" >31</option>
      </select>
      <select [(ngModel)]="form.year">
        <option value="{{year}}" *ngFor="let year of years.reverse()">{{year}}</option>
      </select>
      <p>Why do i need to provide my <br>birthday?</p>
    </div>
    <div class="input-row input-radio">
      <input required type="radio" id="genderfe" value="0" [(ngModel)]="form.gender">
      <label (click)="setFeMaleActive()">Female</label>
      <input required type="radio" id="genderma" value="1" [(ngModel)]="form.gender">
      <label (click)="setMaleActive()">Male</label>
    </div>
    <p class="reg-parag">By clicking Sign Up, you agree to our <span class="blue-text">Terms, Data Policy</span> and<br> <span class="blue-text">Cookies Policy</span>. You may receive SMS Notifications from us and<br> can opt out any time.</p>
    <button type="button" (click)="SubmitRegister()" [ngClass]="{'disabled':submitting}" [(disabled)]="submitting"  name="button">Sign Up <img src="./assets/img/load.gif" alt=""></button>
  </div>
  <div class="create-page-text">
    <p><span class="blue-text">Create a Page</span> for a celebrity, band or business.</p>
  </div>
</div>
