.post-relative-container.active
{
  height: 343px;
}
.posting-form-container.active textarea
{
  height: 80px;
  font-size: 20px;
}
.posting-form-container
{
  min-height: 120px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.posting-form-container.active .post-backgrounds
{
  display: flex;
}
.posting-form-container.active
{
  z-index: 90!important;
  position: absolute;
  width:504px;
}
.posting-form-container.active .posting-bot
{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90px;
}
.posting-form-container.active .posting-bot button
{
  width: 98%;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
.posting-form-container.active .posting-btn-wrap
{
  width: 100%;
}
.show
{
  display: block!important;
}
.posting-top h4 i
{
  font-size: 15px;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.6);
}
.posting-top h4 p
{
  margin-top: 2px;
}
.posting-top h4
{
  display: flex;
  font-size: 12px;
  padding:4px 8px;
  font-weight: 600!important;
  color: rgba(0, 0, 0, 0.7);
}
.posting-top
{
  display: flex;
  padding:5px 1px;
  background: #F6F7F9;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.fb-blue-text
{
  color: #4267B2;
}
.vertical-div
{
  height: 15px;
  margin:auto 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.posting-mid img
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.posting-mid textarea::placeholder
{
  color: rgba(0, 0, 0, 0.6);
}
.posting-mid textarea
{
  width: 100%;
  outline: none;
  margin-left: 10px;
  height: 50px;
  font-size: 14px;
  padding-top:10px;
  border-style: none;
  resize: none;
}
.posting-mid
{
  padding:10px;
  display: flex;
  position: relative;
}
.posting-mid:after,
.posting-mid:before {
	bottom: 100%;
	left: 45px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.posting-mid:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #fff;
	border-width: 6px;
	margin-left: 0px;
}
.posting-mid:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: rgba(0, 0, 0, 0.07);
	border-width: 8px;
	margin-left: -2px;
}
.post-backgrounds
{
  padding:10px;
  display: none;
}
.post-backgrounds li
{
  height: 20px;
  width: 20px;
  list-style: none;
  margin:3px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.background-light
{
  background: #E9EBEE;
  border:2px solid #fff;
}
.background-grey
{
  background: #C6C7C9;
  border:2px solid #fff;
}
.background-purple
{
  background: #BD39EF;
}
.background-rose
{
  background: #E2013B;
}
.background-black
{
  background: #111;
}
.background-blue-rose
{
  background: linear-gradient(209deg, #C82E61 35%, #3630FB 100%);
}
.background-purple-blue
{
  background: linear-gradient(209deg, #8130C8 35%, #E94BFB 100%);/* W3C */
}
.background-rose-light
{
  background: linear-gradient(209deg, #C13546 0, #F4526A 50%);/* W3C */
}
.background-sunset
{
  background: linear-gradient(255deg, #C23292 0, #F4526A 62%, #FBB73D 100%);/* W3C */
}
.background-dark-purple
{
  background: #431E31;
}
.background-dark-grey
{
  background: #3A3E4A;
}
.background-purple-star
{
  background: #3A1E51;
}
.background-sakura
{
  background: linear-gradient(182deg, #FAFAFA 0, #F91D75 61%);/* W3C */
}
.background-night-blue
{
  background:#233860;
}
.background-purplecom
{
  background: linear-gradient(182deg, #FA26FA 0, #6C25F9 61%, #7DFFE5 100%);/* W3C */
}
.background-lips
{
  background: linear-gradient(182deg, #CD3E70 0, #DE2C48 56%);/* W3C */
}
.posting-btn-wrap
{
  display: flex;
}
.hide
{
  display: none!important;
}
.flex
{
  display: flex!important;
}
.posting-submit
{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding:10px;
  display: none;
  justify-content: flex-end;
}
.posting-submit select
{
  margin-right: 10px;
  border-left: none;
  outline: none;
}
.posting-submit button
{
  padding:0px 20px;
  border-radius: 2px;
  color: #fff;
  background: #4267B2;
  border-style: none;
  border:1px solid rgba(0, 0, 0, 0.2);
  font-weight: 600;
  font-size: 12px;
}
.privacy-opt
{
  position: relative;
}
.privacy-opt i
{
  position: absolute;
  top: 2px;
  left: 5px;
  color: #4B4F56;
  font-size: 18px;
  margin-top: 2px;
}
.privacy-opt select
{
  font-weight: 600;
  color: #4B4F56;
  border-radius: 2px;
  padding:3px 4px 3px 0px;
  border:1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px;
  padding-left: 25px;
}

.blackbackground
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 21;
}
.horiz-divider
{
  width: 95%;
  margin:0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.posting-bot
{
  padding:5px 10px;
}
.posting-bot button
{
  border-style: none;
  background: #F6F7F9;
  margin-right: 6px;
  border-radius: 26px;
  display: flex;
  padding:0px 10px;
  font-weight: 600;
  outline: none;
  font-size: 12px;
  box-sizing: border-box;
}
.posting-bot button i
{
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  margin:5px;
}
.posting-bot button p
{
  padding-top: 7px;
}
.yellow-text
{
  color: #F6C33A!important;
}
.green-text
{
  color: #89BE49!important;
}
.pink-text
{
  color: #F82867!important;
}
.blue-text
{
  color: #90C1D6!important;
}
.purple-text
{
  color: #8C72CB!important;
}
